$fontFamily: 'Lato', sans-serif;
$container: 1230px;

$titleSize: 59.2px;
$titleColor: #363636;
$titleWeight: 900;

$textSize: 18px;
$textColor: #808080;
$textWeight: 400;

$gradient: linear-gradient(to top, #D90647, #EB402C);
